# LaTeX temporary files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.out
*.snm
*.synctex.gz
*.tdo
*.thm
*.toc
*.vrb
*.xdy
*.pdfsync
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
zeug*.*